name: Deploy Lambda (.NET 8)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: "8.0.x"

    - name: Install Lambda tools
      run: dotnet tool install -g Amazon.Lambda.Tools

    - name: Build and publish Lambda
      working-directory: src/HelloLambda
      run: |
        dotnet restore
        dotnet publish -c Release -o publish

    - name: Create zip package
      working-directory: src/HelloLambda/publish
      run: zip -r ../../lambda.zip .

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Deploy to AWS Lambda using AWS CLI
      run: |
        aws lambda update-function-code \
          --function-name hellolambda \
          --zip-file fileb://src/HelloLambda/lambda.zip
